//COLORES
$azul-osc:                 rgb(17, 60, 128);
$celeste:                  #d4dce9;
$dark:                     rgb(27, 27, 27);

$colors:(//MERGE CON BS
"azul-osc":             $azul-osc,
"celeste":               $celeste,
"dark":                     $dark,
);

$primary:                   $azul-osc;
$secondary:                 $celeste;
$dark:                      $dark;


 //LINKS
$link-color:                $secondary;
$link-decoration:           underline;
$link-hover-color:          $primary;
$link-hover-decoration:     underline;

//FUENTES
h1, h2, h3, h4, a {font-family: "OSWALD", sans-serif;}
p                           {font-family: "roboto", sans-serif;}

$base-font-size: 1rem;

//mixim
.centrador{
    position: absolute;
    bottom:   0;
    left:     0;
    right:    0;
    top:      0;
}

@import "bootstrap/bootstrap.scss";
@import "style-mods.scss";