//COLORES
$azul-osc:                 rgb(6, 89, 138);
$celeste:                  #d4dce9;
$dark:                     rgb(27, 27, 27);

$colors:(//MERGE CON BS
"azul-osc":             $azul-osc,
"celeste":               $celeste,
"dark":                     $dark,
);

$primary:                   $azul-osc;
$secondary:                 $celeste;
$dark:                      $dark;


 //LINKS
$link-color:                $secondary;
$link-decoration:           underline;
$link-hover-color:          $primary;
$link-hover-decoration:     underline;

//FUENTES
h1, h2, h3, h4, a           {font-family: "OSWALD", sans-serif;}
p, label                    {font-family: "roboto", sans-serif;}

$base-font-size: 1rem;


//SIZES EXTRA
$sizes: (90: 90%, 70: 70%);

//mixim
.centrador{
    position: absolute;
    bottom:   0;
    left:     0;
    right:    0;
    top:      0;
}
//extends
.titulos-grandes{
    font-weight:    bold;
    letter-spacing: 3px;
    font-size:      $base-font-size * 2;
    text-transform: uppercase;
}
//para animacion en JS
#totalReserva, #formReserva{
    display: none;
}
@import "bootstrap/bootstrap.scss";
@import "style-mods.scss";