body{
    background-color: $secondary;
}

header{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 29%, rgba(212,220,233,1) 74%, rgba(85,114,159,1) 98%);    top:      0;
    left:     0;
    right:    0;
    position: sticky;
    z-index:  100;
    padding-bottom: 0.2rem;
    #navForm .nav-item {
        .nav-link, .navbar-text{
            text-decoration: none;
            text-transform:  uppercase;
            font-size:       $base-font-size * 1.2;
            font-weight:     bold;
            color: rgba($primary, 0.75);
            &:hover{
                transform:  scale(1.1);
                color:      $primary;
            }
            &.active{color: $primary;}
        }
    }
    #formFechas{
        background-color:#f2f2f2;
        form > div, button {
            border: 1px solid darken(#f2f2f2 , 20);
            box-shadow: 0 1px rgba($color: #000000, $alpha: 0.5);
            color: $dark;
            margin-bottom: 0;
            &:hover{
                color: $primary;
            }
        }
        .select-huespedes{
            max-width: 100px;
        }
        #buscar{
            background-color: #113c80;
            min-width: 15em;
            color: white;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            p{
                text-transform: uppercase;
            }
        }
    }
}

#deptos article, .depto-title, #totalReserva, #formReserva, #servicios{
    display: none;
}