body{
    background-color: $secondary;
}

header{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 29%, rgba(212,220,233,1) 74%, rgba(85,114,159,1) 98%);    top:      0;
    left:     0;
    right:    0;
    position: sticky;
    z-index:  100;
    padding-bottom: 0.2rem;
    #navForm .nav-item {
        .nav-link, .navbar-text{
            text-decoration: none;
            text-transform:  uppercase;
            font-size:       $base-font-size * 1.2;
            font-weight:     bold;
            color: rgba($primary, 0.75);
            &:hover{
                transform:  scale(1.1);
                color:      $primary;
            }
            &.active{color: $primary;}
        }
    }
    #formFechas{
        background-color:#f2f2f2;
        form > div, button {
            border: 1px solid darken(#f2f2f2 , 20);
            box-shadow: 0 1px rgba($color: #000000, $alpha: 0.5);
            color: $dark;
            margin-bottom: 0;
            &:hover{
                color: $primary;
                font-weight: bold;
            }
            label:hover{
                cursor: pointer;
            }
            input{
                &:hover, &:focus{
                    outline: none;
                    border-color: $primary ;
                }
            }
        }

        #buscar{
            background-color: #113c80;
            min-width: 15em;
            color: white;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            p{
                text-transform: uppercase;
            }
            &:hover{
                background-color: rgba($primary, 0.75);
                font-size: 1.05rem;
            }
        }
    }
}

.slider-ppal{
    //slider principal de altura constante
    height:             500px;
    #CarouselPpal {
        .carousel-img img{
            object-fit: cover; 
            height:     500px; 
        }
        .carousel-flecha{
            position:     absolute;
            top:          0;
            bottom:       0;
            margin:       auto;
            height:       50px;
            width:        50px;  
            line-height:  50px;
            font-size:    $base-font-size * 2;
            display:      block;
            z-index:      10;
            text-align:   center;
            &.prev{left:  2%;}
            &.next{right: 2%;}
        }
        .carousel-caption{
            position:        absolute;
            top:             0;
            bottom:          0;
            left: 0;
            right: 0;
            text-decoration: none;
            div {//animacion del caption
                background-color:   rgba($dark, 0.8);
                animation-name:     fadeInUp;
                animation-delay:    0s;
                animation-duration: 1.5s;
                h1, h2{@extend      .titulos-grandes;}
                p     {padding:     0 2rem;}
            }
        }
        a.carousel-caption{
            &:hover  {transform: scale(1.1);}
            p{&:hover{color:     $primary;}}
        }
    }
}
//animacion para los slides
@keyframes fadeInUp {
    from {
    opacity:           0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform:         translate3d(0, 100%, 0);
    }
    to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform:         translate3d(0, 0, 0);
    }
}

.footer2{
    background-color: $primary;
}